@import './variables.scss';
@import './element-variables.scss';
@import './element-ui.scss';
@import './layout.scss';
@import './github.scss';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
}

#app {
    height: 100%;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
    // 自动填充时的字体颜色
    -webkit-text-fill-color: #fff;
    // 采用过度的办法吃掉背景色, 网上都是这个办法
    transition: background-color 5000s ease-out 0.5s;
}

#nprogress .bar {
    background:#13C2C2;
}

.box-shadow {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

a {
    text-decoration: none;
}

.table-operate-zone {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.table-operate {
    margin-left: auto;
}

.table-search {
    width: 30%;
}

.drawer-form {
    padding: 20px 20px;
}

.drawer-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-tips {
    color: #999;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    top: 100%;
    left: 0;
    margin-bottom: 4px;
}

.detail-basic {
    padding: 20px;
    background-color: white;
}

.f12 {
    font-size: 12px;
}

.attr-key {
    font-size: 12px;
    width: 68px;
    font-weight: 500;
    color: #7d8591;
}
  
.attr-value {
    font-size: 12px;
    width: 100%
}

// .router-link-active {
//     text-decoration: none;
// }